@using EntityLayer.Concrete;
@model List<Comment>
<div class="comments mt-5">
    <h4 class="side-title ">Yorumlar (@ViewBag.c)</h4>
    @foreach (var item in Model)
    {
        <div class="media mt-4">
            <div class="img-circle">
                <img src="~/Template/Traversal-Liberty/assets/images/c1.jpg" class="img-fluid" alt="...">
            </div>

            <div class="media-body">

                <ul class="time-rply mb-2">
                    <li>
                        <a href="#URL" class="name mt-0 mb-2 d-block">@item.CommentUser</a>

                        @(((DateTime)item.Date).ToString("dd-MMMM-yyyy / hh:mm tt"))

                    </li>
                    <li class="reply-last">
                        <a href="#reply" class="reply">
                            Reply
                        </a>
                    </li>
                </ul>
                <p>
                    @item.CommentContent
                </p>
            </div>


        </div>
    }
    @*  <div class="media">
    <div class="img-circle">
    <img src="~/Template/Traversal-Liberty/assets/images/c2.jpg" class="img-fluid" alt="...">
    </div>
    <div class="media-body">
    <ul class="time-rply mb-2">
    <li>
    <a href="#URL" class="name mt-0 mb-2 d-block">James Harper</a>
    June 15th, 2020 - 12:30 pm

    </li>
    <li class="reply-last">
    <a href="#reply" class="reply">
    Reply
    </a>
    </li>
    </ul>
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing. Ea consequuntur illum facere aperiam sequi optio consectetur adipisicing elitFuga,
    suscipit totam animi.....
    </p>
    <div class="media second mt-4 p-0 pt-2">
    <a class="img-circle img-circle-sm" href="#url">
    <img src="~/Template/Traversal-Liberty/assets/images/c3.jpg" class="img-fluid" alt="...">
    </a>
    <div class="media-body">
    <ul class="time-rply mb-2">
    <li>
    <a href="#URL" class="name mt-0 mb-2 d-block">Jackson Wyatt</a>
    June 15th, 2020 - 14:20 pm

    </li>
    <li class="reply-last">
    <a href="#reply" class="reply"> Reply</a>
    </li>
    </ul>
    <p>
    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
    corrupti quos dolores et. Lorem ipsum dolor sit amet......
    </p>
    </div>
    </div>
    </div>
    </div>*@
</div>