@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<h1 class="mb-5">Yeni Bir Rezervasyon Oluştur</h1>

<form method="post" asp-action="NewReservation" asp-controller="Reservation" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="ReservationID" value="" />
        <label>Lokasyon</label>
       <select asp-for="DestinationID" asp-items="@((List<SelectListItem>)ViewBag.dgr1)" class="form-control" style="width:27rem; border-radius: 10px" >
        <option>Lokasyon Seç</option>
    </select>

    </div>
    <div class="form-group">
        <label>Kişi Sayısı</label>
        <input type="text" asp-for="PersonCount" class="form-control" style="width:27rem; border-radius: 10px" />
    </div>
    <div class="form-group">
        <label>Tarih</label>
        <input type="datetime-local" asp-for="ReservationDate" class="form-control" style="width:27rem; border-radius: 10px" />
    </div>
    <div class="form-group">
        <label>Varsa Eklemek İstedikleriniz</label>
        <textarea type="text" asp-for="Description" class="form-control" style="width:27rem; border-radius: 10px"></textarea>
    </div>

    <button class="btn btn-outline-success">Rezervasyon Yap</button>
</form>


